.layout {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	min-height: 100vh;
	background-image: url("/images/pinkpattern1.svg");

	min-width: 100vw;

	color: #eee;
}

.cards_container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background-color: rgb(197, 212, 240);
	min-width: 90vw;
	min-height: 90vh;
}

.cards_container .card {
	margin: 2rem;
}

.card {
	/* display: flex; */

	padding: 1rem;
	min-width: 100%;
	margin: 2rem;
}

.no_projects_container {
	font-size: 2rem;
}

@media all and (max-width: 915px) {
	.layout {
		display: flex;

		justify-content: center;
		flex-direction: column;
		flex-wrap: wrap;
		align-items: center;
		min-height: 100vh;
		/* background-image: url("/images/pinkpattern1.svg"); */
		background-color: orange;

		min-width: 100vw;

		color: #eee;
	}
}

@media all and (max-width: 900px) {
	.layout {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		min-height: 100vh;
		background-image: url("/images/pinkpattern1.svg");

		min-width: 100vw;

		color: #eee;
	}

	.cards_container {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		background-color: rgb(197, 212, 240);
		min-width: 90vw;
		min-height: 90vh;
	}

	.cards_container .card {
		margin: 0.5rem;
	}

	.card {
		/* display: flex; */

		padding: 0.5rem;
		max-width: 33%;
		margin: 0.5rem;
	}
}

@media all and (max-width: 415px) {
	.no_projects_container {
		font-size: 1.5rem;
	}
}
