.layout {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	min-width: 100vw;
	font-size: 3rem;
	/* font-family: "Allerta Stencil", sans-serif; */
	/* font-family: "Bangers", cursive; */
	/* font-family: "Caesar Dressing", cursive; */
	font-family: "Righteous", cursive;
	/* font-family: "Vast Shadow", cursive; */
	background-color: white;
}

.layout nav {
	min-width: 40vw;
	display: flex;
	justify-content: flex-end;
	font-size: 1rem;
	padding: 1rem;
}
.layout nav ul {
	display: flex;
	align-items: baseline;
}

.layout nav ul li {
	padding: 0.5rem 0.75rem 0.5rem 0.75rem;
	margin: 1rem;
	border-radius: 5px;
}

#goal_container {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgb(247, 242, 242);
}

#count {
	position: absolute;
	font-size: 0.65rem;
	bottom: 1rem;
	right: -0.5rem;
	background-color: rgb(31, 216, 236);
	border-radius: 20px;
	padding: 0.5rem 0.65rem 0.5rem 0.65rem;
	color: rgb(254, 255, 254);
	transition: all 2s ease-in-out;
}

#new_container {
	background-color: rgb(154, 231, 158);
}

.avatar_frame span {
	background-color: rgb(154, 219, 49);
	font-size: 0.75rem;
	color: rgb(87, 33, 33);
}

.avatar_frame p {
	font-size: 0.75rem;
	color: rgb(233, 222, 222);
}

.site_title {
	font-family: "Righteous", cursive;
	padding: 1rem;
}

@media all and (max-width: 500px) {
	.layout {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		min-width: 100vw;
		font-size: 1rem;
		/* font-family: "Allerta Stencil", sans-serif; */
		/* font-family: "Bangers", cursive; */
		/* font-family: "Caesar Dressing", cursive; */
		font-family: "Righteous", cursive;
		/* font-family: "Vast Shadow", cursive; */
		background-color: white;
	}

	.site_title {
		font-size: 1.5rem;
		/* padding: 0.25rem; */
	}
}
