.layout {
	display: flex;
	flex-direction: column;
	min-height: 100vh;

	height: 40vh;
	background-size: cover;
	background-repeat: no-repeat;
	/* background-color: rgb(97, 235, 235); */
}

.hero {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 1.5rem;

	background-color: rgb(201, 196, 196);

	color: white;
	/* min-width: 100vw; */
	min-height: 100vh;

	background-image: url("/images/puzz6.jpeg");
	font-family: "Bangers", cursive;
	height: 40vh;
	background-size: cover;
	background-repeat: no-repeat;
	/* font-family: "Caesar Dressing", cursive; */
	/* font-family: "Righteous", cursive; */
	/* font-family: "Vast Shadow", cursive; */
}
