.layout {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100vh;
	background-color: #dfdbe5;
	background-image: url("/images/jigsaw.svg");
}

.hero {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 1.5rem;
	background-color: rgb(51, 59, 59);
	max-width: 30rem;
	/* background-color: rgb(201, 196, 196); */

	padding: 2.5rem;
	margin-top: 5rem;
	color: white;
	/* min-width: 100vw; */

	font-family: "Bangers", cursive;

	/* background-size: cover; */
	/* background-repeat: no-repeat; */
	/* font-family: "Caesar Dressing", cursive; */
	/* font-family: "Righteous", cursive; */
	/* font-family: "Vast Shadow", cursive; */
}
